/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* This style will apply to all elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Header*/
header {
    background-color: lightgray;
    padding: 0 1rem;
    position: fixed;
    z-index: 99%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    font-family: 'Great Vibes', sans-serif, cursive;
    text-transform: capitalize;
    

}

/*Main content*/
main {
    background-color: bisque;
}


/*Footer*/
footer {

background-color: red;
}
