/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* This style will apply to all elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*Text styles*/
h1,
h2,
.feedback-text {
    font-family: "Great vibes", cursive, sans-serif;
    font-size: 40px;
    color: rgb(255, 193, 202);
    text-shadow: 1.2px 1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 black;
    font-weight: 100;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px #3a3a3a;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

.header-button {
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 5px;
    font-family: 'Great Vibes', cursive, sans-serif;
    border: 2px solid rgba(232, 236, 241, 0.638);
    letter-spacing: 2px;
    margin: auto;
    text-align: center;
}

/*The navigation menu*/
nav {
    position: absolute;
    background-color: white;
    width: 50%;
    right: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    text-align: center;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

#menu {
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-size: 150%;
    font-family: "Great vibes", cursive, sans-serif;
}

#menu > :hover {
    color: rgb(216, 34, 34);
}

#menu > li {
    margin-bottom: 1rem;
}

.active {
    font-weight: bold;
}

/* Main content */
main {
    background-color: rgba(226, 64, 64, 0.6);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 64px;
    text-align: center;
}

/* Hero Index, Feedback*/
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-image-mshd.webp") no-repeat center center/cover;
    position: relative;
}

/*Index*/

#hero>h2,
.feedback-section>h2 {
    font-size: 50px;
}

#info-text>h1,
#info-text>p {
    color: rgb(255 210 217);
    text-shadow: none;
}

#info-text {
    font-size: 110%;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(226, 64, 64, 0.6);
    position: absolute;
    bottom: 20px;
    min-height: 200px;
    width: 85%;
    border-radius: 10px;
}

#events {
    border-top: #3a3a3a;
}

#events-list {
    margin-top: 10px;
    margin-left: 10px;
}

#events > h2 {
    display: none;
}

/*Images in index*/

#circle-student {
    background: url('../images/sdtudent-party.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border: rgba(220, 204, 204, 0.6) solid 1px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 3px 3px #3a3a3a;
}

#circle-wedding {
    background: url('../images/wedding.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border: rgba(220, 204, 204, 0.6) solid 1px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 2px 2px #3a3a3a;
}

#circle-after-work {
    background: url('../images/after-work.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border: rgba(220, 204, 204, 0.6) solid 1px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 2px 2px #3a3a3a;
}

.index-image {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*Hero for the shop*/

#hero-shop {
    height: 200px;
    width: 100%;
    background: url("../images/Hero-logo-shop-2.png") no-repeat center center/cover;
    position: relative;
    background-color: #fafafa;
}

#cover-text-shop {
    background-color: rgba(232, 236, 241, .7);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    min-height: 20px;
    padding: 10px;
    transform: translate(-50%, -50%);
}


/* Review/Feedback section */

#review {
    position: absolute;
    margin-top: 10px;
    padding-top: 10px;
}

.feedback-section {
    position: absolute;
    width: 100%;
    margin: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 10px;
}

.feedback-section>h2 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 5px;
}

.feedback-text {
    font-family: "Great vibes", cursive, sans-serif;
    font-size: 40px;
    color: rgb(255, 193, 202);
    text-shadow: 1.2px 1.2px 0 rgb(0, 0, 0), 1.2px -1.2px 0 black;
    font-weight: 100;
}

/* Comment form styling */

.comment-list {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

#comment-form {
    margin-top: 5px;
    text-align: center;
}

#comment-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Shop items */

.shop-canape-selection {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 90vw;
}

#shop div {
    color: #fafafa;
    background-color: rgba(220, 204, 204, 0.6);
    padding: 15px;
    text-align: right;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid red;
}

/* Images for the shop*/

#salmon-mousse {
    
    background: url("../images/border-ms.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-color: #fafafa;
    background-size: 100% auto;
    /* Match the height of the box to the image */
    background-position: left center;
}

#salmon-roll-blini {}

#duck-liver-mousse {}

#goatscheese-filobasket {}

#white-chocolate-mousse {}

/* Thank you page*/

#thank-you {
    margin-top: 10px;
    padding: 200px 5rem 5rem 5rem;
    max-width: 400px;
}

/*Footer*/

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

@media screen and (min-width: 768px) {

    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */

    main {
        margin-top: 66px;
    }


    /*Hero image change*/

    #hero {
        height: 100vh;
        width: 100%;
        background: url("../images/Hero-large.jpg") no-repeat center center/cover;
        position: relative
    }
    
    /*index text*/

    #events {
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        display: flex;
    }

    #info-text {
        width: 300px;
        right: 30px;        
    }

    .event-left {
        display: flex;
        flex-direction: column;
        width: 100%;
            /* Adjust the width as needed */
        }
    
    .event-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* Adjust the width as needed */
        text-align: end;
        align-self: flex-end;
    }

    .event-right > h2 {
        font-size: 500%;
    }
    .event-left > h2 {
        font-size: 500%;
    }

    #circle-student, #circle-wedding, #circle-after-work { 
        max-width: 70%; 
        max-height: 400px;
        margin: 20px

    }

    h1,
    h2,
    .feedback-text {
        font-family: "Great vibes", cursive, sans-serif;
        font-size: 40px;
        color: rgb(255 210 217);
        text-shadow: 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0);
    }
}